<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Website</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{!-- navigation --}}
  <header>
  <nav id="nav">
    <ul class="nav-list-1">
      <li class="nav-item"><a href="/" class="nav-link">回到首頁</a></li>
    </ul>
    <ul class="nav-list-2">
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      <li class="nav-item"><a href="/portfolio" class="nav-link">Portfolio</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
  </nav>
</header>

  {{{ body }}}

</body>

</html>